*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	padding:0 10px;
	color: black;
	display: block;
}
.swiper-wrapper img{
	width: 100%;
}
.banner{
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
}
.banner img{
	width: 100%;
}
#nav a:hover,.navbgC{
	color: #fff;
	background: #ff475b;
	border-radius: 5px;
}
.navbgC a{
	color: #fff !important;
}
#nav .navbgC{
	background: #ff475b !important;
}
#nav a:nth-child(1){
	padding:0px 20px;
}
.le{
	float:left;
}
.ri{
	float:right;
}
img{
	display:block;
	border:0;
}
.clear{
	clear:both;
}

.head{
	width: 1200px;
	height: 100px;
	margin:0 auto;
	background: url(../img/1_03.png) no-repeat 1px 10px;
}
#nav{
	width: 750px;
	height: 36px;
	display: inline-block;
	margin-top: 40px;
	margin-left:500px;
}
#nav a{
		color: black;
}
#nav ul li{
	float: left;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	list-style:none;
	position: relative;
}
ul li ul li{
	float: none;
	z-index: 999;
}
ul li ul{
	position: absolute;
	width: 96px;
	left: 0px;
	display: none;
	border-radius: 7px;
    border-top: 4px solid #fff;
	background:#f8ad1e;
	z-index:100;
}
ul li ul li a{
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 1px;
}
.ul_second_div{
	margin-bottom: 3px;
}
.ul_second_div span{
    display: block;
    margin-left: 20px;
    color: #fff;
    border-bottom: 1px solid #FFF;
    height: 32px;
    cursor: pointer;
}
.ul_second_div span:nth-last-child(1){
	border-bottom:none;
}
ul li ul li a:hover{
	background: #f8ad1e;
	color: #ff475b;
}
ul li:hover ul{
	display: block;
}
.ul_second_div span:hover{
	color: #ff475b;
}
/*底部*/
.bottom{
	width: 100%;
	height: 226px;
	background: #2b2b2b;
}
.bottom_bottom{
	width: 100%;
	height: 74px;
	background: #1f1f1f;
}
.bottom_bottom p{
	text-align: center;
	display: block;
	line-height: 74px;
	font-size: 16px
	font-weight:300;
	color: #fff;
}
.bottom_center{
	width: 1200px;
	height: 100%;
	margin:0 auto;
}
.bottom_left{
	width: 200px;
	height: 123px;
	margin-top: 60px;
	margin-left: 80px;
	float: left;
}
.bottom_left li{
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
}
.bottom_ul{
	width: 750px;
	height: 150px;
	margin-top: 60px;
}
.bottom_ul li{
	color: #ffffff
	font-size: 16px;
	float: left;
	margin-left: 20px;
}
.bottom_ul span{
	font-size: 12px;
	color: #fff;
}
.bottom_ul a{
	color: #fff;
}
















