
.help_title{
	width: 100%;
	height: 50px;
	margin:0 auto;
	padding-bottom: 20px;
}
.help_title li{
	float: left;
	line-height: 50px;
	font-size: 14px;
}
.help_title a{
	color: #000
}
.help_title a:hover{
	text-decoration: underline;
	color: #ff475b
}
.main{
	width: 1200px;
	max-width: 1920px;
	height: 1880px;
	margin:0 auto;
	margin-top: 34px;
}
.main_left{
	width: 182px;
	height: 184px;
	color: black;
	float: left;
}
.main_left li{
	text-align: center;
	width: 182px;
	height: 41px;
	line-height: 42px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
.main_left a{
	color: black;
}
.main_left li:nth-child(1){
	width: 182px;
	height: 51px;
	background: #bf8d01;
	border-bottom:none;
}
.main_left li:nth-child(2){
	margin-top: 10px;
}
.main_left span{
	font-size: 24px;
	line-height: 51px;
	color: #FFF;
}
.main_right{
	float: left;
	margin-left: 63px;
	width: 900px;
	height: auto;
	margin:0px 0px 0px 50px;
	border: 1px solid #666;
}
.mian_right_title{
	font-size: 30px;
	color: #666666;
	width: 100%;
	height: 63px;
/*	background: #09f;*/
	border-bottom: 1px solid #ccc;
}
.main_right a{
	color: #666;
}
.main_right ul{
	margin-top: 30px;
}
.main_right li{
	margin-top: 5px;
}
.main_right a:hover{
	text-decoration: underline;
}
.main_right p{
	font-size: 14px;
	margin: 20px 20px 20px 20px;
}
.main_right .p_title{
	font-size: 18px;
	color: #666;
}
.main_text2{
	width: 954px;
	height: 185px;
/*	background: #999;*/
}


.main_right_text{
	margin-top: 10px;
	width: 100%;
	height: 24px;
	color: #000;
	background: url(../img/3.png) no-repeat 0px 6px;
}
.main_right_text span{
	margin-left: 20px;
	color: #666;
}
.main_right2{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}
.mian_right_title2{
	font-size: 18px;
	color: #666666;
	width: 100%;
	height: 30px;
}

.main_title{
	width: 100%;
	height: 152px;
}
.main_text{
	margin:0 auto;
	width: 289px;
	height: 100%;
	text-align: center;
}
.main_text li:nth-child(1){
	font-size: 30px;
	margin-top: 10px;
}
.main_text li:nth-child(2){
	font-size: 11px;
	color: #ccc;
}
.main_text li:nth-child(3){
	width: 100px;
	height: 2px;
	background: #ff475b;
	text-align: center;
	display: inline-block;
}
.main_text li:nth-child(4){
	font-size: 22px;
	color: #ff475b;
	margin-top: 10px;
}
.border_left{
	width: 455px;
	height: 100%;
}
.border_left span{
	width: 95%;
	height: 1px;
	text-align: center;
	line-height: 100%;
	background: #ccc;
	display: block;
	margin-top: 64px;
	margin-left: 30px;
}
.border_right{
	width: 455px;
	height: 100%;
}
.border_right span{
	width: 95%;
	height: 1px;
	text-align: center;
	line-height: 100%;
	background: #ccc;
	display: block;
	margin-top: 64px;
}
.main-ul{
	width: 100%;
	height: 150px;
	margin-top: 20px;
	border-bottom:2px dashed #CCC;
}
.main-ul a:hover{
	color: #666;
	text-decoration: underline;
}
.main-ul a{
	color: #666;
}
.img img{
	width: 190px;
	height: 128px;
}
.main-ul-text{
	width: 830px;
	height: 152px;
	margin-left: 20px;
}
.main-ul-text ul{
	margin-top: 10px;
	margin-left: 10px;
}
.main-ul-text p{
	font-size: 16px;
	font-weight: 700;
	color: #666
}
.main-ul-time span{
	color: #666;
	font-size: 14px;
}
.main-ul-text li{
	font-size: 14px;
	color: #666;	
	overflow : hidden;
 	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;
  	line-clamp: 1;
  	white-space:normal;
  	-o-text-overflow:ellipsis; 
}
.box{
	width: 1200px;
	height:100%;
}
.btn{
	width: 250px;
	height: 30px;
}
.btn li{
	float: left;
	font-size: 12px;
	line-height: 23px;
}
.btn li:nth-child(1){
	width:60px;
	height: 23px;
	border:1px solid #ccc;
}

.btn li:nth-child(2){
	width:25px;
	height: 23px;
	border:1px solid #ccc;
	text-align: center;
	margin-left: 5px
}

.btn li:nth-child(3){
	width:25px;
	height: 23px;
	border:1px solid #ccc;
	text-align: center;
	margin-left: 5px
}
.btn li:nth-child(4){
	width:25px;
	height: 23px;
	border:1px solid #ccc;
	margin-left: 5px
}

.btn li:nth-child(5){
	width:60px;
	height: 23px;
	border:1px solid #ccc;
	margin-left: 5px
}
.btn a{
	color: #000;
}
.btn a:hover{
	color: #666;
}
.main_table{
	width: 100%;
	height: 867px;
}
.main_ul_title{
	width: 100%;
	height: 46px;
	border: #ccc 1px solid;
}
.main_ul_title li{
	float: left;
	text-align: center;
	border-right: #ccc 1px solid;
	line-height: 46px;
	font-size: 16px;
	font-weight: 500;
}
.main_ul_title li:nth-child(1){
	width: 145px;
	height: 100%;
}
.main_ul_title li:nth-child(2){
	width: 140px;
	height: 100%;
}
.main_ul_title li:nth-child(3){
	width: 90px;
	height: 100%;
}
.main_ul_title li:nth-child(4){
	width: 122px;
	height: 100%;
}
.main_ul_title li:nth-child(5){
	width: 300px;
	height: 100%;
}
.main_ul_title li:nth-child(6){
	width: 397px;
	height: 100%;
	border: none;
}
.main_ul_one{
	width: 100%;
	height: 292px;
	border-bottom: #ccc 1px solid;
	border-left:  #ccc 1px solid;
	border-right: #ccc 1px solid;
}
.main_ul_one li{
	float: left;
	text-align: center;
	height: 292px;
	border-right: #ccc 1px solid;
	font-size: 14px;
	color: #666;
}

.main_ul_one li:nth-child(1){
	width: 145px;
}
.main_ul_one li:nth-child(2){
	width: 140px;
}
.main_ul_one li:nth-child(3){
	width: 90px;
}
.main_ul_one li:nth-child(4){
	width: 122px;
}
.main_ul_one li:nth-child(5){
	width: 300px;
}
.main_ul_one li:nth-child(6){
	width: 397px;
	border: none;
	text-align: left;
	line-height: 40px;
}
.main_ul_bottom{
	margin-top: 50px;
}
.main_ul_bottom a{
	color: #666;
}
.main_ul_bottom a:hover{
	text-decoration: underline;
}
.title_main{
	width: 335px;
	height: 144px;
}
.title_main li{
	font-size: 14px;
	margin-top: 10px;
}
.title_main li:nth-child(1){
	font-size: 17px;
}
.title_main li:nth-child(2){
	width: 335px;
	height: 0.5px;
	margin-top: 5px;
	background: #000;
}

.our{
	width: 760px;
	height: 394px;
	margin-top: 50px;
}
.our_left{
	width: 353px;
	height: 100%;
}
.our_left a{
	color: black;
}
.our_left a:hover{
	text-decoration: underline;
}
.our_left p{
	color: #666;
	font-size: 12px;
	letter-spacing: 3px;
	margin-left: 80px;
}
.our_left span{
	font-size: 22px;
	margin-left: 80px;
}
.our_left li:nth-child(1){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	letter-spacing: 2px;
	background: url(../img/-1_03_03.png) no-repeat;
}

.our_left li:nth-child(2){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	letter-spacing: 2px;
	background: url(../img/-1_03_09.png) no-repeat;
	margin-top: 56px;
}
.our_left li:nth-child(3){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	margin-top: 56px;
	letter-spacing: 2px;
	background: url(../img/-1_03_13.png) no-repeat;
}


.our_right{
	width: 353px;
	height: 100%;
}
.our_right a{
	color: black;
}
.our_right a:hover{
	text-decoration: underline;
}
.our_right p{
	color: #666;
	font-size: 12px;
	letter-spacing: 3px;
	margin-left: 80px;
}
.our_right span{
	font-size: 22px;
	margin-left: 80px;
}
.our_right li:nth-child(1){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	letter-spacing: 2px;
	background: url(../img/-1_03_05.png) no-repeat;
}

.our_right li:nth-child(2){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	letter-spacing: 2px;
	background: url(../img/-1_03_10.png) no-repeat;
	margin-top: 56px;
}
.our_right li:nth-child(3){
	background: #eee;
	padding-left: 20px;
	width: 320px;
	height: 92px;
	margin-top: 56px;
	letter-spacing: 2px;
	background: url(../img/-1_03_14.png) no-repeat;
}


/*选项卡*/
.main_left{
	width: 1200px;
	height: 1000px;
}
.paragraph{
	height:1200px;
	overflow:hidden;
}
.left{
	width: 150px;
	height:1000px;
	padding:0;
	margin:0;
	float: left;
}
.left>li{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #989898;
	padding-bottom: 5px;
}

.right{
	float: left;
	padding: 0;
	margin: 0;
}
.right>li{
	width: 1050px;
	height: 1000px;
}

.change{
	background: #09c;
	width: 500px;
	height: 100px;
}
.input-text
{
	border: 1px solid #C3CED9;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	margin-right: 10px;
	padding: 0;
	width: 200px;
}


.mian_right_title1{
	font-size: 18px;
	color: #666666;
	width: 100%;
	height: 30px;
}

.main_right_text{
	margin-top: 10px;
	width: 100%;
	height: 24px;
	color: #000;
	background: url(../img/3.png) no-repeat 0px 6px;
}
.main_right_text span{
	margin-left: 20px;
	color: #666;
}












